.ui.grid > .row.main-header-row {padding-bottom: 0px;}

.ui.header.main-header {margin: 15px;}
.ui.header.main-header .content,
.ui.header.main-header .sub.header {color: #fff;}
.ui.cards > .ui.loader {margin: 20px;}